.about {
    padding-top: 100px;
    background-color: $bgc;

    img {
        width: 200px;
        margin: 0 auto;
        display: block;
        border-radius: 15px;
    }

    p {
        text-align: center;
        font-size: $fz;
        color: $color2;
        letter-spacing: 2px;
        margin: 0 auto;
    }

    a {
        width: 200px;
        display: block;
        margin: 0 auto;
        text-decoration: none;
        color: $color1;
        font-size: 2rem;
        text-transform: uppercase;
        border: 2px solid $colorsec;


        &:hover {
            color: $color3;
            border: 3px solid $color3;
        }
    }
}

@media (max-width: 576px) {
    .about {

        img {
            width: 100px;
        }

        p {
            font-size: 1.5rem;

        }

        a {
            width: 20vw;
            font-size: 1.5rem;
        }
    }
}